@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
:root {
  --bg: #121319;
  --accent:#069aad;
  --hover:#007E8E;
  --accent-nav: #56d2e0;
  --lightgray: rgba(94, 123, 126, 0.4);
  --lightgray2: rgba(94, 123, 126, 0.1);
  --correct:rgb(31, 155, 31);
  --wrong: rgb(163, 13, 13);
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./5425357.jpg) no-repeat, linear-gradient(#121319, transparent) no-repeat;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
}

.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  border: none;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--accent);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn:hover {
  background-color: var(--hover);
}

.clear-btn {
  background-color: transparent;
  color: var(--accent);
  border: 2px solid var(--accent);
  transition: 0.3s ease;
}
.clear-btn:hover {
  background-color: var(--hover);
  color: white;
  transition: 0.3s ease;
}

.home {
  transition: 0.4s ease;
}
.home header {
  margin: 1.5rem 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home header .logo {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.home header .nav-bar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home header .nav-bar ul li {
  margin-left: 35px;
  font-size: 18px;
  font-weight: 500;
}
.home header .nav-bar ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}
.home header .nav-bar ul li a:hover {
  color: var(--accent-nav);
}
.home header .nav-bar ul li .active-link {
  color: var(--accent-nav);
}
.home div.quiz-home {
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px -2px 4px black;
}
.home div.quiz-home h1 {
  font-size: 68px;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}
.home div.quiz-home p {
  line-height: 24px;
}
.home div.quiz-home .btn {
  padding: 1rem 3rem;
  margin-top: 2rem;
  font-size: 18px;
  border: 1px solid white;
  box-shadow: 0 0 4px lightgray;
}
.home div.quiz-home .btn:hover {
  background-color: var(--bg);
}

.home.blured {
  pointer-events: none;
}
.home.blured::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  transition: 0.4s ease;
}

div.quiz-guide {
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  padding: 1rem;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  transition: 0.4s ease;
}
div.quiz-guide h2 {
  color: var(--accent);
  font-size: 40px;
  margin-bottom: 15px;
}
div.quiz-guide ol {
  padding-bottom: 10px;
  border-bottom: 1.5px solid rgb(191, 191, 191);
}
div.quiz-guide ol li {
  margin-left: 1rem;
  margin-bottom: 10px;
}
div.quiz-guide .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.quiz-guide.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  z-index: 3;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--bg);
  transition: 0.5s ease;
}
.slide .quiz-box {
  opacity: 0;
  width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: 0.4s ease;
  border: 2px solid var(--accent);
  border-radius: 5px;
  box-shadow: 0 0 2px lightgray;
  padding: 1rem 1.5rem;
  pointer-events: none;
}
.slide .quiz-box h2 {
  background: linear-gradient(45deg, transparent, var(--accent), transparent);
  text-align: center;
  border-radius: 5px;
  font-size: 32px;
  margin-bottom: 15px;
}
.slide .quiz-box .sub-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  font-size: 18px;
}
.slide .quiz-box .sub-title .score {
  background-color: var(--accent);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 16px;
}
.slide .quiz-box .questions {
  padding-top: 30px;
  padding-bottom: 40px;
  border-top: 2px solid var(--accent);
  border-bottom: 2px solid var(--accent);
}
.slide .quiz-box .questions .question {
  font-size: 22px;
  font-weight: 600;
}
.slide .quiz-box .questions ul {
  list-style: none;
}
.slide .quiz-box .questions ul li {
  border: 1.5px solid var(--lightgray);
  border-radius: 5px;
  margin-top: 0.9rem;
  padding: 0.7rem;
  cursor: pointer;
}
.slide .quiz-box .questions ul li:hover {
  background-color: var(--lightgray2);
}
.slide .quiz-box .questions ul li.correct {
  color: var(--correct);
  border: 1.5px solid var(--correct);
}
.slide .quiz-box .questions ul li.wrong {
  color: var(--wrong);
  border: 1.5px solid var(--wrong);
}
.slide .quiz-box .questions ul.disabled li {
  pointer-events: none;
}
.slide .quiz-box .questions ul.disabled li:hover {
  background-color: transparent;
}
.slide .quiz-box .quiz-footer {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}
.slide .quiz-box .quiz-footer .btn {
  box-shadow: none;
}
.slide .quiz-box .quiz-footer .btn.disabled {
  border: 1px solid var(--lightgray);
  background-color: var(--lightgray2);
  color: var(--lightgray);
  pointer-events: none;
  transition: 0.4s ease;
}
.slide .quiz-result {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
  pointer-events: none;
  border: 2px solid var(--accent);
  border-radius: 10px;
  padding: 2rem 5rem;
}
.slide .quiz-result h2 {
  font-size: 45px;
}
.slide .quiz-result .conic-gradient {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  background: conic-gradient(var(--accent) 220deg, var(--lightgray2) 0);
  position: relative;
}
.slide .quiz-result .conic-gradient .inner-gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 190px;
  width: 190px;
  border-radius: 50%;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
}
.slide .quiz-result .final-score {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.slide .quiz-result .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slide .quiz-result .buttons .btn {
  padding: 0.6rem 1rem;
}

.slide.active {
  width: 100%;
  z-index: 3;
  transition-delay: 0.1s;
}
.slide.active .quiz-box {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s ease;
  transition-delay: 0.4s;
  pointer-events: auto;
}
.slide.active .quiz-box.inactive {
  opacity: 0;
  transition: 0.5s ease;
  pointer-events: none;
}
.slide.active .quiz-result.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.4s ease;
  transition-delay: 0.3s;
  pointer-events: auto;
}

.credits {
  position: absolute;
  bottom: 1%;
  right: 1%;
  font-size: 12px;
}/*# sourceMappingURL=styles.css.map */